
@font-face {
  font-family: 'SFUIText-Regular';
  src: url('SFUIText-Regular.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-Regular.woff') format('woff'), 
  url('SFUIText-Regular.ttf')  format('truetype'), 
  url('SFUIText-Regular.svg#SFUIText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
