
@font-face {
  font-family: 'SFUIText-RegularItalic';
  src: url('SFUIText-RegularItalic.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-RegularItalic.woff') format('woff'), 
  url('SFUIText-RegularItalic.ttf')  format('truetype'), 
  url('SFUIText-RegularItalic.svg#SFUIText-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
