
@font-face {
  font-family: 'SFUIText-SemiboldItalic';
  src: url('SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-SemiboldItalic.woff') format('woff'), 
  url('SFUIText-SemiboldItalic.ttf')  format('truetype'), 
  url('SFUIText-SemiboldItalic.svg#SFUIText-SemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
