
@font-face {
  font-family: 'SFUIText-Medium';
  src: url('SFUIText-Medium.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-Medium.woff') format('woff'), 
  url('SFUIText-Medium.ttf')  format('truetype'), 
  url('SFUIText-Medium.svg#SFUIText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
