

.addPlaceBlock{
	padding-right: 35px;
}

.addPlaceH1{

	font-family: Roboto, Arial;
	font-size: 36px;
	font-weight: 900;
	letter-spacing: -0.9px;
	color: #000000;

	margin-top: 36px;
	margin-bottom: 34px;
}


.addplace-selectblock{
	padding-right: 0;
}

.addNewPlaceFont{
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	color: #262626;
}

.newPlaceSelect{
	z-index: 900;
	.selectCategory{
		z-index: 900;
	}
}

#country{
	background-color: #f7f7f7;
}

#city{
	background-color: #f7f7f7;
}

#input_district{
	background-color: #fff;
}

#subway{
	background-color: #fff;
}

.newPlaceSelect{
	z-index: 20;
	.selectCategory{
		width: 100%;
		height: 44px;
		border: solid 1px #d8d8d8;
		font-family: Roboto;
		font-size: 14px;
		padding-left: 10px;
		color: #262626;
		margin-top: 7px;
		cursor: pointer;
		
		.list{
			z-index: 800
		}
	}
}

.addplace-selectlist{
	max-height: 200px;

	overflow: auto;
	width: 92%;
}

.select-arrow-down{
	    width: 13px;
	    height: 12px;
	    background-image: url(img/angle-arrow-down.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    position: absolute;
	    right: 18px;
	    top: 51px;
	    cursor: pointer;
	    opacity: 0.3;
}

.divForAddFoto{
	margin: 44px 0 40px 0;
}



.inputfile{
	width: 300px;
	height: 39px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 290px;
	padding-top: 39px;
	z-index: 1;
	cursor: pointer;
}

.inputfile + label {

    font-weight: 500;
	color: #262626;
	font-family: Roboto;
  	font-size: 12px;
	border: solid 1px #d8d8d8;
    display: inline-block;
    width: 290px;

    padding: 10px 30px 10px 15px;
}

.addplace-labelfile{
	position: relative;
	cursor: pointer;
}

.filebtn-icon{
	position: absolute;
    background-image: url(img/plus.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 19px;
    width: 12px;
    height: 12px;
    top: 12px;
    opacity: 0.6;
}


.container_photo{
	max-width:290px;
	td{

		max-width: 280px;
		width: 100%;
		font-family: Roboto;
    	font-size: 14px;
    	color: #807c7c;
    	text-overflow: ellipsis;
    	cursor: pointer;
	}
	.del_photo{
		color: #ff0000;
		cursor: pointer;
		font-size: 12px;
	}
}

.description{
	display:block;
	margin-top: 15px;
	width: 100%;
	height: 250px;
	border: solid 1px #d8d8d8;
}
.addplace-morefields{
	margin-bottom: 24px;
}

.moreInfoBlock{
	margin-top: 33px;
}

.detailedInfo
{
	display: none;
	padding-left:60px;
}

.formStreet{
	display: inline-block;
	width: 70%;
	margin-right: 36px;
}




.secondFormsDiv{
	padding-right: 0;
}
.moreInfoButton{
	padding-left:30px;
	margin-bottom: 33px;
	font-family: Roboto;
  	font-size: 14px;
  	color: #262626;
	width: 300px;
  	cursor: pointer;

  	&:hover{
  		color: #315efb;
  	}
}

.moreinfo-arrowshow{
	position: relative;
	&:after{
		content: '';
		width: 11px;
		height: 8px;
		background-image:url(img/down-arrow.png);
		position: absolute;
		background-size: 100%;
    	background-repeat: no-repeat;
    	right: 5px;
    	top: 4px;
	}
}

// .moreinfo-arrowhide{
// 	position: relative;
// 	&:after{
// 		content: '';
// 		width: 11px;
// 		height: 8px;
// 		background-image:url(img/down-up.png);
// 		position: absolute;
// 		background-size: 100%;
//     	background-repeat: no-repeat;
//     	right: 5px;
//     	top: 4px;
//     	display: none;
// 	}
// }

.selectBill{
	width: 100%;
	height: 44px;

	font-family: Roboto;
	font-size: 14px;
	color: #262626;
	
	border: solid 1px #d8d8d8;

	margin-top: 7px;
	padding-left: 10px;

	cursor: pointer;
}

.addNewsLastButt{
	display:flex;
	justify-content: flex-end;
	padding-right: 60px;
	margin: 20px 0 40px;
}




.addNameForm{
	margin: 34px 0 50px;
	.addNewPlaceFont{
		margin-bottom: 10px;
	}
}

.textareaMargin{
	margin-top:5px;
}

// .container_averagecheck
// {
// 	display: none;
// 	width: 288px;

// 	position: absolute;

//     box-shadow: 1px 2px 7px 0 rgba(124, 130, 134, 0.3);

// 	li
// 	{
// 		display: block;

// 		font-size: 13px;

// 	    padding: 5px 0 3px 50px;

// 	    cursor: pointer;

// 	    &:hover
// 	    {
// 	    	color: #FFF;
// 	    	background-color: #315efb;
// 	    }
// 	}
// }

.list
{
	display: none;
	width: 288px;

	position: absolute;

    box-shadow: 1px 2px 7px 0 rgba(124, 130, 134, 0.3);
    background-color: #FFF;

	li
	{
		display: block;

		font-size: 13px;

	    padding: 5px 0 3px 50px;

	    cursor: pointer;

	    &:hover
	    {
	    	color: #FFF;
	    	background-color: #315efb;
	    }
	}
}

.selectinfo-arrow-down{
	    width: 13px;
	    height: 12px;
	    background-image: url(img/angle-arrow-down.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    position: absolute;
	    right: 25px;
	    top: 41px;
	    cursor: pointer;
	    opacity: 0.3;
}

.morefields-select{
	z-index: 999;

	ul{
		z-index: 999;
		max-height: 200px;
		overflow: auto;
		width: 92%;
	}
}

@media (min-width : 320px) and (max-width : 767px) {
	#form_add_places{
		padding: 0;
	}	
	.addPlaceBlock{
		padding-right: 0;
	}

	.newPlaceSelect .selectCategory{
		width: 100%;
	}
	.select-arrow-down{
		right: 30px;
	}
	.selectBill{
		width: 100%;
	}

	.detailedInfo{
		padding-left: 10px;
	}
	.moreInfoButton{
		padding-left: 15px;
	}
	.moreinfo-arrowshow{
		&:after{
			right: 25px;
		}
	}

	.addNewsLastButt{
		justify-content: flex-start;
	}

}