
//styles for all cars

@mixin blockhover($font_size){
	&:hover{
		p{
			color: #315efb;
		}
		.blockPictureDate{
			position: relative;
			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: #000;
				z-index: 10;
				opacity: 0.4;
			}

		.shadow_card{
			visibility: visible;
			width: 100%;
		    height: 100%;
		    position: absolute;
		    
		   	z-index: 11;
		    display: flex;
		    justify-content: center;
		   	align-items: center;

		    .blockHiddenDate{
		    	display: block;
		    	position: absolute;
		    	z-index: 10;
		    	font-family: Roboto;
				  font-size: 11px;
				  color: #ffffff;
				
		    }
		}

		img{
		    width: 100%;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		}
		}	
	}
}
.shadow_card{
	visibility: hidden;

}
.blockHiddenDate{
	display: none;
}
.simplecard-href{
	z-index: 10;
}

.wr_img_card_simple_single
{
	min-height: 335px;

	position: relative;

	img
	{
		max-width: 310px;
		max-height: 335px;
		width: 100%;
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    margin: auto;
	}
	
}

.wr_img_card_simple_double
{
	min-height: 335px;

	position: relative;

	img
	{
		max-width: 620px;
		width: 100%;
		max-height: 335px;

		position: absolute;
		top: 0;
		right: 0;
	    bottom: 0;
		left: 0;

		margin: auto;
	}
}

.wr_img_card_simple_double_border
{
	min-height: 446px;

	position: relative;

	img
	{
		max-width: 460px;
		width: 100%;

		position: absolute;
		top: 0;
		right: 0;
	    bottom: 0;
		left: auto;

		margin: auto;
	}
}

.cardHearedH5{
	  opacity: 0.6;
	  font-family: Roboto;
	  font-size: 12px;
	  line-height: 1.75;
	  letter-spacing: 0.1px;
	  color: #000000;
	  margin: 7px 0 5px 0;
	  text-transform: uppercase;

}

.std_card_margin_btm{
	 margin-bottom: 30px;
	 height: 446px
}


// styles for 300x335 cards

.typeBlock_300x335{
	@include blockhover(1.1vw);
	@extend .std_card_margin_btm;
	z-index: 10;
}

.typeBlock_300x335_paragr{
	margin-top: 20px;
}



// styles for "Similar Places" card

 .similarPlaceCard{

	margin-bottom:10px;
	
	border: solid 1px #e5e5e6;
	
	width:201px;
	height: 240px;

	&:hover{
		.simPlaceParagraf{
			color: #315efb;
		}
	}
}

.container_add_place
{
	margin-bottom:10px;
	
	border: solid 1px #e5e5e6;
	
	width:201px;
	height: 240px;

	text-align: center;

	p
	{
		margin-top: 25px;
		
		font-family: Roboto;
	  	font-size: 14px;
	  	font-weight: 500;
	  	line-height: 1.5;
	  	color: #262626;
	}

	img
	{
		margin: 23px 58px 19px 58px;
	}

	a
	{
		letter-spacing: 1px;

		padding: 14px 38px;
	}
}

.simPleceMainImg{
	height: 155px;
	width: 200px;
}

.similarPlaceImgBlock{
	position:relative;

	.simPlaceLockIcon{
		 
		position: absolute;
    	z-index: 999;
    	top: 5px; 
    	left: 10px;
		
		&:before{
			content: url(img/lock-off.png);
			
		}

	}

	.simPlaceLockIcon-open{
		position: absolute;
    	z-index: 999;
    	top: 5px; 
    	left: 10px;
    	&:before{
			content: url(img/lock.png);
		}
    	
			
	}

	.simPlaceStarsBlock{
		display: inline-block;
		padding:0;
		position: absolute;
		left: 10px;
		bottom: 10px;

		.simPlaceStarIcon{
			display: inline-block;
			height: 10px;
			width: 10px;
			margin-right: 5px;

			background-image: url(img/star-non.png);
			background-size: cover;
		
		}

		.simPlaceeBlueStarIcon{
			background-image: url(img/star-hover.png);
			background-size: cover;
		}

	}
}

.simPlaceParagraf{

	
	margin-top: 10px;
	font-family: Roboto;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 1.5;
  	color: #262626;
	margin-left: 5px;
	max-height: 60px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.simPlaceAddImage
{
	display: block;
	
	margin: 23px auto 19px;
}


.simPlaceAddBtnBlue
{
	letter-spacing: 1px;

	padding: 14px 38px;
}

@media (min-width : 320px) and (max-width : 767px){

	.similarPlaceCard{
		margin: 20px auto 0 auto;
	}

}


