.catalogElements{
	max-width: 300px;
	padding:10px;
	border: 1px solid  #f8f8f8;;
	margin: 10px 0;
	background-color: #fff;
	max-height: 250px;
	position: relative;
	
		&:hover
		{
			background-color:#315efb;

			.catalogHeaders{
				color:white;
			}

		}
}



.catalogButtons{
	display:inline-block;

	padding: 10px 10px;
	margin-top: 72px;

	border: solid 2px #fff;
	text-align:center;
	font-family: Roboto;
  	font-size: 12px;
  	font-weight: 500;

  	color: #fff;

  	&:hover{
  		color:#fff;
  	}
}

.catParagrafs{
	
	display:inline-block;
	font-family: Roboto;
  	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: #fff;
}

.imgCatalog{
	
	float: right;
	margin-top: 25px;
	width: 135px;
	height: 135px;
}

.catalogHeaders{
	font-family: Roboto;
	font-size: 26px;
	font-weight: 900;

	color: #000000;

	margin: 10px 0 23px 0;
}



.catalogIcons
{
	text-align: center;

	a
	{
		display: inline-block;

		margin: 10px 0 20px;

		p
		{
			display: inline-block;

			margin: 10px 0 10px 20px;
	  		font-family: Roboto;
	  		font-size: 12px;
	  		font-weight: 500;
	  		color: #333333;
		}
	}	
}

@mixin img_cat($url){
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	float: right;
	margin-top: 25px;
	width: 135px;
	height: 135px;
}

@mixin img_cat_hover($url){
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100%;
}


.catalogElements{
	.img_cat_3{
		@include img_cat('img/group.png');
	}
	.img_cat_5{
		@include img_cat('img/group-7.png');
	}
	.img_cat_6{
		@include img_cat('img/group-4.png');
	}
	.img_cat_24{
		@include img_cat('img/group-5.png');
	}
	.img_cat_27{
		@include img_cat('img/group-12.png');
	}
	.img_cat_7{
		@include img_cat('img/group-6.png');
	}

		&:hover{
			.img_cat_3{
				@include img_cat_hover('img/group - Copy.svg');
				background-position: 0 0;
				opacity: 0.4;
			}
			.img_cat_5{
				@include img_cat_hover('img/group-7 - Copy.svg');
				background-position: 0 0;
				opacity: 0.4;
			}
			.img_cat_6{
				@include img_cat_hover('img/group-4 - Copy.svg');
				background-position: 0 0;
				opacity: 0.4;
			}
			.img_cat_24{
				@include img_cat_hover('img/group-5 - Copy.svg');
				background-position: 0 20px;
				opacity: 0.4;
			}
			.img_cat_27{
				@include img_cat_hover('img/group-12 - Copy.svg');
				background-position: 0 0;
				opacity: 0.4;
			}
			.img_cat_7{
				@include img_cat_hover('img/group-6 - Copy.svg');
				background-position: 0 0;
				opacity: 0.4;
			} 
	}
}

@media (min-width : 320px) and (max-width : 767px) {

	.catParagrafs{
		display: none;
	}
	.catalogButtons{
		display: none;
	}

	.catalog_block{
		.catalogElements{
			.block{
				div{
					width: 65px;
					height: 65px;
					margin-top: 0;
				}
			}
		}
	}
	
	.catalog_block{
		padding: 0;
	}

	.catalogHeaders{
		margin-bottom: 0;
		font-size: 21px;

	}

	.catalogIcons{
		padding-right: 0;
		p{
			margin-left: 5px;
		}
	}
}

@media (min-width : 768px) and (max-width : 1024px){
	.catalog_block{
		.catalogElements{
			max-height: 210px;
			.block{
				div{
					width: 114px;
					height: 114px;
					margin-top: 0;
				}
			}
		}
	}
	.catalogHeaders{
		margin: 0px 0 23px 0;
	}

}


