



.catdest-row{
	// padding: 0 15px;
}

// .catdest-newsblock{
// 	margin-left: 0;
// 	padding-left: 0;
// }

.cat-margintop{
	margin-top: 20px;
}

.catdest-socialrow{
	margin-top: 40px;
}
.socialblock-bl1{

	padding: 10px;
	background-image: url(http://placehold.it/300x180);
}

.socialblock-bl2{
	display: inline-block;
}
.catds-social-logo{
	float: left;
	margin-right: 10px;
	height: 70px;
	width: 70px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	
	img{
		height: 20px;
		width: 55px;
	}
}

.socialblock-bl3{
	height: 30px;
	width: 90px;
	background-color: #fff;
	margin-top: 59px;
}
.catds-sc-pr1{
		font-family: Roboto;
	  	font-size: 17px;
	  	line-height: 1.53;
	  	text-align: left;
	  	color: #fff;
	  	margin-right: 30px;

	  	
	}
.catds-sc-pr2{
		font-family: Roboto;
	  	font-size: 14px;
	  	line-height: 1.53;
	  	text-align: left;
	  	color: #fff;	
}

.socialblock-bl4{
	padding: 10px;
	p{
		font-size: 14px;
		margin-bottom: 3px;
	}
}
.cat-fb-avatar{
	height: 40px;
	width: 40px;
	background-color: #fff;
	display: inline-block;
	margin-right: 3px;
}

// .catdest-newsblock{
// 	padding-left: 0;
// }

@media (min-width : 320px) and (max-width : 767px) {

	.catdest-row{
		display: flex;
		flex-direction: column;

		.cat-card-block{
			order: 1;
		}
		.catdest-socialrow{
			order: 2;
		}
		.catdest-newsblock{
			order: 3;
			
			.newsFirstDiv{
				padding-left:30px;
				padding-right:30px;
			}
		}
	}

	.catdest-socialblock{
		display: none;
	}
	.restCard1{
		margin-top: 25px;
	}
	
	.catdest_card_delete{
		display: none;
	}

	.catdest-phone-lastblock{
		display: flex;
		flex-direction: column;
		.catdest-newsblock{
			order: 1;
		}
		.lastblock_card_phone{
			order: 2;
		}
		.category-lastBtn{
			order: 3;
		}
	}

}





