
.catFilterSorting{
	margin: 0px;
}

.cat-places-paramer1{
	margin-bottom: 15px;
}
.catFiltMapSwitcherImg{
	width:44px;
	height:28px;

	text-align: left;
	
	background:blue;
	border-radius: 32px;

	display:inline-block;
	
	margin: 0 12px;

	cursor: pointer;

	span
	{
	    display: inline-block;
	    width: 26px;
		height: 26px;

		background-color: #FFF;
		border-radius: 50%;

		margin: 1px;
	}
}

.catfilter-top5-par{
	font-family: Roboto;
	font-size: 22px;
	font-weight: 900;
	letter-spacing: -0.6px;
	color: #000000;
}

.catFiltMapSwitcherPar{
	display:inline-block;	
	opacity: 0.4;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
	color: #454545; 
		
}

.catFiltMapSwitcherBlock{
	display: flex;
    justify-content: center;
    align-items: center;	
}

.categoryFilterBlock{
	border: solid 1px #e5e5e6;

	padding: 0;

	&>div
	{
		z-index: 0;
	}
}

.categoryFilterBlockHead{
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	color: #000000;

	margin-top: 21px;
	margin-bottom: 10px;
}

.categoryFilterName{
	display: inline-block;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
	color: #454545;
	margin: 2px 0;
	padding: 7px 20px 9px 15px;


	

	&:hover{
		border-radius: 40px;
  		border: solid 1px #d1d9fc;
  		padding: 6px 19px 8px 14px;
	}

	&.active
	{
		position: relative;

		background-color: #eaefff;
		border-radius: 40px;

		padding: 6px 30px 8px 14px;
		
		&:after{
			content: url(img/cancel.png);
			
			position: absolute;

			right: 6px;
			top: 7px;
		}

		&:hover
		{
			border: none;
		}
	}
}


.categoryFilterValueBlock{
	padding-left: 30px;
}

.categoryFilterValue{
	display:inline-block;
	opacity: 0.5;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	text-align: left;
	color: #454545;
	margin: 2px 0;
	padding: 7px 15px 9px 15px;

	cursor: default;

	&:hover{
		color: #315efb;
		padding: 7px 15px 9px 5px;
		&:before{
			content: "Все ";
			color: #315efb;
		}
	}
}




.categoryFilterChBoxLabel{
	font-family: Roboto;
  	font-size: 14px;
  	color: #262626;
  	font-weight: 500;
}

.fillYourStreetInput{
	position: relative;
	p{
		text-align: center;
		width: 80px;
  		height: 11px;
		font-family: Roboto;
		font-size: 10px;
		color: #262626;
		background-color: #fff;

		position: absolute;
		top: -7px;
		left: 7px;

		z-index: 3;
	}

	.wall_hide
	{
		position: absolute;
	    right: 1px;
	    top: 0;
	    bottom: 0;
	    left: auto;

	    width: 20px;
	    height: 20px;
	    
	    background-color: #FFF;
	    	    
	    margin: auto;
	}
}

.form_additional_sort
{
	.categoryFilterForms
	{
		background-color: #FFFFFF;

		cursor: pointer;
	}

	.field_street
	{
		padding: 0;
		
		.selectize-input
		{
			height: 100%;

			border: none;
			box-shadow: none;

			padding-right: 20px; 	

			cursor: text;

			.item
			{
				font-size: 10px;
			}
		}

		.dropdown-active
		{
			border: none !important;
		}

		.selectize-dropdown-content
		{
			background-color: #FFF;

			[data-selectable]
			{
				font-size: 10px;
			}

		}

		&:before
		{
			content: '';
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.categoryFilterForms{
	height: 44px;
	
	border-radius: 0;
	margin-bottom: 13px;

	font-family: Roboto;
	font-size: 14px;
	color: #262626;
}



.ThDtourIncludeCheckbox{
	margin-bottom: 25px;
	
}

p
{
	&.catPlacesHeader2
	{
		max-width: 100%;
		text-align:center;
	}
}

.categoryPlacesBanners{
	padding-left:15px;
	margin-bottom: 15px;
}
.categoryFilterViewMoreBtn
{
	text-align: center;

	margin: 15px 0 26px 0;
}



.category-commentBlocks{
	.cityGuidesRewiewBlocks{
	
	height: 100px;
	padding-right: 5px;
	margin-bottom: 15px;
	display: inline-block;
	

	padding-bottom: 15px;


	&:hover{
		
		.reviewHeadParag{
			color: #315efb;
		}
		.secondNewsParagrafs{
			color: #315efb;
		}

		.ind-rewheadBlock{
			color: #315efb;
		}

	}
}
}

.cityGuideFullSearchPar{
	opacity: 0.5;
  	font-family: Roboto;
  	font-size: 14px;
  	color: #262626;
  	float: right;

  	margin: 8px 0 17px 0;
}

.cat-place-img-banner{
	margin: 0 -15px;
    display: inline-block;
}

.catfilter-more-news-btn{
	font-size: 10px;
	padding: 10px 7px;
	display: inline-block;
	float: left;
	border: solid 1px #eaeaea;

			&:focus{	
			}
			&:hover{
			background-color: #eeeeee;
			
			padding: 11px 8px;

			}
			&:active{
			background-color: #d2d2d2;
			border: none;
			outline:none;
			}

}

.turn_map
{		
	span
	{
		margin-left: 17px;
	}
}


.btn_additional_sort
{
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;

	border-top: 1px solid #e5e5e6;
	
	padding: 15px 0;

	cursor: pointer;
}

.wr_sub_category
{
	position: relative;

	z-index: 3;

	ul
	{
		width: 100%;
		max-width: 251px;
		max-height: 300px;
		
		overflow-y: scroll;

		position: absolute;
		top: 44px;
		//z-index: 3;	
	}

	span
	{
		opacity: 0.3;

		position: absolute;
	    right: 25px;
	    top: 0;
	    bottom: 0;

		width: 13px;
	    height: 12px;
	    
	    background-image: url(img/angle-arrow-down.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    
	    margin: auto;

	    cursor: pointer;

	    &.active
	    {
	    	transform: rotate(180deg);
	    }
	}
}

.container_map
{
	position: relative;
	background: #eee;

	z-index: 11;
}

.category_map
{
	width: 100%;
	height: 498px;
	
	
}

.map_filter_block
{
	max-width: 286px;
	width: 100%;
	max-height: 441px;
	height: 100%;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 30px;
	left: auto;

	background-color: #ffffff;

	margin: auto;

	form
	{
		background-color: #ffffff;
		border: 1px solid #eeeeee;
		border-top: none;
	}
}

.contentDiv7
{
	h3
	{
		position:relative;
	
	  	font-family: Roboto;
	  	font-size: 102px;
	  	font-weight: 600;
	  	letter-spacing: -2.5px;
	  	color: #f0f0f0;
	  	text-align: center;

		&:after
		{
			width: 100%;
			max-height: 30px;
			height: 100%;

			content: "Последние";
			color: #000;
			
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
				
			font-family: Roboto;
			font-size: 30px;
			font-weight: 600;
			text-align: center;
			

		}
	}
}