

.feedbackMainContainer{
	@extend .right_left_margin45px;
}
.feedbackCardsContainer{
	@extend .right_left_margin45px;
}

.feedbackForms{
	padding-left: 60px;
	padding-right: 60px;

	margin-top: 30px;
}

.feedbackFormBlock{
	margin-top: 10px;
	margin-bottom: 10px;
}
.feedbackTextarea{
	margin-top: 35px;
	.addNewPlaceFont{
		margin-bottom: 5px;
	}
}
.feedbackButton{
		display:flex;
		justify-content: flex-end;

		margin-top: 40px;

		.btn-standart-border{
			padding: 16px 30px;

			&:hover{
				padding:18px 32px;
			}
		}
}

.bigHeaderParagraf{
	position:relative;
	color:#f0f0f0;

	&:after{
		content: "популярное";
		width: 130px;
		height: 33px;
		
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
			
		font-family: Roboto;
		font-size: 30px;
		font-weight: 900;
		text-align: center;
		color: #000000;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

	.feedbackMainContainer{
		padding-left: 15px;
		padding-right: 15px;
	}
	.feedbackForms{
		padding: 0;
	}
	.feedbackCardsContainer{
		padding-right: 30px;
		padding-left: 30px;
	}
	.feedbackButton{
		justify-content: flex-start;
	}
}
