// // Courgette
// @font-face
// {
// 	font-family: 'Courgette';
// 	src: url('./fonts/Courgette-Regular.eot?#iefix') format('embedded-opentype'),  
// 		url('./fonts/Courgette-Regular.woff') format('woff'),
// 		url('./fonts/Courgette-Regular.ttf')  format('truetype'),
// 		url('./fonts/Courgette-Regular.svg#Courgette-Regular') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// // BrandonGrotesque
// @font-face
// {
// font-family: 'BrandonGrotesque';
// src: url('./fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
// 	url('./fonts/BrandonGrotesque-Light.woff') format('woff'),
// 	url('./fonts/BrandonGrotesque-Light.ttf')  format('truetype'),
// 	url('./fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
// font-weight: normal;
// font-style: normal;
// }

// // LobsterTwo
// @font-face
// {
// 	font-family: 'LobsterTwo';
// 	src: url('./fonts/LobsterTwo-Italic.eot?#iefix') format('embedded-opentype'),
// 		url('./fonts/LobsterTwo-Italic.woff') format('woff'),
// 		url('./fonts/LobsterTwo-Italic.ttf')  format('truetype'),
// 		url('/../fontsLobsterTwo-Italic.svg#LobsterTwo-Italic') format('svg');
// 	font-weight: normal;
// 	font-style: italic;
// }

// // Yellowtail
// @font-face {
// 	font-family: 'Yellowtail';
// 	src: url('./fonts/Yellowtail.eot?#iefix') format('embedded-opentype'),
// 		url('./fonts/Yellowtail.woff') format('woff'),
// 		url('./fonts/Yellowtail.ttf')  format('truetype'),
// 		url('./fonts/Yellowtail.svg#Yellowtail') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// Open Sans
@font-face {
  font-family: 'SFUIDisplay';
  src: url('fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Black/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SFUIDisplay';
  src: url('fonts/SFfonts/SFUIDisplay-Bold/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Bold/SFUIDisplay-Bold.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Bold/SFUIDisplay-Bold.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Bold/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay';
  src: url('fonts/SFfonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('fonts/SFfonts/SFUIDisplay-Light/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Light/SFUIDisplay-Light.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Light/SFUIDisplay-Light.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Light/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: url('fonts/SFfonts/SFUIDisplay-Medium/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Medium/SFUIDisplay-Medium.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Medium/SFUIDisplay-Medium.ttf')  format('truetype'),
  url('fonts/SFfonts/SFUIDisplay-Medium/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url('fonts/SFfonts/SFUIDisplay-Regular/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Regular/SFUIDisplay-Regular.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Regular/SFUIDisplay-Regular.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Regular/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('fonts/SFfonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay-Thin';
  src: url('fonts/SFfonts/SFUIDisplay-Thin/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Thin/SFUIDisplay-Thin.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Thin/SFUIDisplay-Thin.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Thin/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIDisplay-Ultralight';
  src: url('fonts/SFfonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.woff') format('woff'), 
  url('fonts/SFfonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-Bold';
  src: url('fonts/SFfonts/SFUIText-Bold/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-Bold/SFUIText-Bold.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-Bold/SFUIText-Bold.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-Bold/SFUIText-Bold.svg#SFUIText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-BoldItalic';
  src: url('fonts/SFfonts/SFUIText-BoldItalic/SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-BoldItalic/SFUIText-BoldItalic.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-BoldItalic/SFUIText-BoldItalic.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-BoldItalic/SFUIText-BoldItalic.svg#SFUIText-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-Heavy';
  src: url('fonts/SFfonts/SFUIText-Heavy/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-Heavy/SFUIText-Heavy.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-Heavy/SFUIText-Heavy.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-Heavy/SFUIText-Heavy.svg#SFUIText-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-HeavyItalic';
  src: url('fonts/SFfonts/SFUIText-HeavyItalic/SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-HeavyItalic/SFUIText-HeavyItalic.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-HeavyItalic/SFUIText-HeavyItalic.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-HeavyItalic/SFUIText-HeavyItalic.svg#SFUIText-HeavyItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-Light';
  src: url('fonts/SFfonts/SFUIText-Light/SFUIText-Light.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-Light/SFUIText-Light.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-Light/SFUIText-Light.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-Light/SFUIText-Light.svg#SFUIText-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText-LightItalic';
  src: url('fonts/SFfonts/SFUIText-LightItalic/SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-LightItalic/SFUIText-LightItalic.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-LightItalic/SFUIText-LightItalic.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-LightItalic/SFUIText-LightItalic.svg#SFUIText-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText-Medium';
  src: url('fonts/SFfonts/SFUIText-Medium/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-Medium/SFUIText-Medium.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-Medium/SFUIText-Medium.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-Medium/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-MediumItalic';
  src: url('fonts/SFfonts/SFUIText-MediumItalic/SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-MediumItalic/SFUIText-MediumItalic.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-MediumItalic/SFUIText-MediumItalic.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-MediumItalic/SFUIText-MediumItalic.svg#SFUIText-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-Regular';
  src: url('fonts/SFfonts/SFUIText-Regular/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-Regular/SFUIText-Regular.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-Regular/SFUIText-Regular.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-Regular/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-RegularItalic';
  src: url('fonts/SFfonts/SFUIText-RegularItalic/SFUIText-RegularItalic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-RegularItalic/SFUIText-RegularItalic.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-RegularItalic/SFUIText-RegularItalic.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-RegularItalic/SFUIText-RegularItalic.svg#SFUIText-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-Semibold';
  src: url('fonts/SFfonts/SFUIText-Semibold/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-Semibold/SFUIText-Semibold.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-Semibold/SFUIText-Semibold.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-Semibold/SFUIText-Semibold.svg#SFUIText-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SFUIText-SemiboldItalic';
  src: url('fonts/SFfonts/SFUIText-SemiboldItalic/SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/SFfonts/SFUIText-SemiboldItalic/SFUIText-SemiboldItalic.woff') format('woff'), 
  url('fonts/SFfonts/SFUIText-SemiboldItalic/SFUIText-SemiboldItalic.ttf')  format('truetype'), 
  url('fonts/SFfonts/SFUIText-SemiboldItalic/SFUIText-SemiboldItalic.svg#SFUIText-SemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
