
.fullMapMainCont{
	@extend .right_left_margin45px;
}
.fullMapCategory
{
	margin-bottom:40px;

	img
	{
		max-width: 64px;
		width: 100%;
		max-height: 64px;
		height: 100%;
	}
}

.h1fullmap{
	margin-left: 15px;
}

.fullmapCategoryNames{
	display:inline-block;
	margin-left: 25px;
	font-family: Roboto;
  	font-size: 12px;
  	font-weight: 500;
  	
  	color: #454545;
  	padding: 5px 15px;

  	&.active
  	{
  		border-radius: 40px;
  		border: solid 1px #d1d9fc;
		position: relative;
		background-color: #eaefff;
		padding-right: 35px;
		
		&:after{
			content: url(img/cancel.png);
			
			width: 17px;
		    height: 17px;

			position: absolute;
		    right: 6px;
		    top: 0;
		    bottom: 0;
		    left: auto;

		    margin: auto;
		}
  	}
}

.fullmapSearch{
	height:45px;
}
.fullmapSearchButt{
	padding: 14px 44px; 
	margin-top:29px;

			&:focus{
			border: solid 1px #649dff;
			color: #ffffff;
			padding: 13px 43px;
			}
			&:hover{
			background-color: #234ae4;
			color: #ffffff;
			}
			&:active{
			background-color: #1039d6;
			}
}

.fullMapCheckbox{
	width: 16px;
  	height: 16px;
  	background-color: #eaeefe;
  	border: solid 1px #315efb;

  }

.fullmapParametrs{
  	display: inline-block;
  	
	padding-right:19px;
	
	cursor: pointer;

	a{
		font-family: Roboto;
		font-size: 14px;
		line-height: 2.14;
		text-align: left;
		color: #454545;
	
		border-bottom: dashed 1px #0f0e0e;

		&:hover{
			color: #315efb;
			border-bottom: dashed 1px #315efb;
	}
	}
  }
.fullmapLine{
	height:1px;
	background-color:#dfe4ec;
	margin: 20px 0;
}

.wr_sort_param
{
	margin-bottom: 15px;

	a
	{
		display: inline-block;

		font-family: Roboto;
	  	font-size: 12px;
	  	font-weight: 500;
	  	text-align: left;
	  	color: #454545;

		border: solid 1px #ffffff;

		margin-right: 25px;
		padding: 5px 25px 5px 10px;
		
		cursor: pointer;

		&.active
		{
			border-radius: 40px;
	  		border: solid 1px #d1d9fc;
			position: relative;
			background-color: #eaefff;
			padding-right: 35px;

		 	&:after{
				content: url(img/cancel.png);
				
				position: absolute;
				right: 6px;
				top: 0;
				bottom: 0;
				left: auto;

				width: 17px;
				height: 17px;

				margin: auto;
			}
		}
	}
}

.mapBlock{
	height: 400px;
	background-color: grey;
	margin: 20px 0 30px 0;
}

.restAddPlaceBanner-padding{
	padding: 0 45px;
}

.fullmap-newsbtns-block{
	display:inline-block;
}

.fullmap-newsblock{
	border: solid 1px #e5e5e6;
	padding-top: 15px;
	padding-bottom: 15px;
	
	.moreNewsblocks1{

		padding-bottom: 24px;
	}


	figcaption{
			padding-top:7px;
			font-family: Roboto;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			color: #262626;
	}
		
}
.fullmap-newsblockHead{
	
	display: inline-block;

	padding-left: 15px;
	padding-bottom: 15px;
	float: left;
	margin-right: 20px;
	height: 35px;
	vertical-align: middle;

	span{
		font-family: Roboto;
		font-size: 16px;
		font-weight: 600;
		color: #262626;
	}
}

.fullmap-newsSwitchers{
	display:inline-block;
	margin-bottom:12px;
}

.fullmap-pagination{
	max-width: 530px;
	margin: 55px auto;
	display: flex;
	justify-content: space-between;
}

.pagination-list{
	display: inline-block;
	.pag-page{
		margin: 0 10px;
		display: inline-block;
		a{
			
			font-family: Roboto;
			font-size: 14px;
			line-height: 1.29;
			text-align: center;
			color: #262626;
			
		}
		
		
	}
	.active-pag-page{
		a{
			color: #315efb;
		}
	
}
}

.pagination-arrow{
	height: 14px;
}

.form_checkbox
{
	display: flex;
	align-items: center;

	input
	{
		margin: 0;
	}

	label
	{
		font-weight: 400;
		font-size: 14px;

		margin: 0;
		margin-left: 10px;
	}
}

.city_map
{
	width: 100%;
	height: 450px;

	background-color: #eee;

	margin-bottom: 15px;
}

.paragraph_line
{
	border-top: 1px solid #dfe4ec;
	margin-left: 0;
	margin-right: 0;
}

.fullmapParametrs-block{
	margin-top: 25px;
	padding-left: 0;
	padding-right: 0;
}

@media (min-width : 320px) and (max-width : 767px) {
	.fullMapCategory{
		padding: 0;
		img{
			width: 54px;
			height: 54px;
		}
		.fullmapCategoryNames{
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.carousel_gastro_life .news-block-buttons h4{
		font-size: 16px;
	}

	.citguidemap-search-phone{
		padding: 0;
	}
	.fullmapSearch{
		height: 45px;
	}
	.fullmapParametrs{
		padding-right: 10px;
		a{
			font-size: 13px;
		}
	}
	.city-guide-map-phone{
		padding-left: 0;
		padding-right: 0;
	}

	.fullmap-banner-phone{
		display: none;
	}

	.fullmap-invert-block{
		display: flex;
		flex-direction: column;
		.fullmap-newsslider-placeblock{
			order: 1;
		}
		.fullmap-pagination-block{
			order: 2;
		}
		.fullmap-newsslider-block{
			order: 3;
		}
	}
	 .fullmap-pagination-block .search-res-pag .nav-links .next{
	 	right: -50px;
	 }
	 .fullmap-pagination-block .search-res-pag .nav-links .prev{
	 	left: -50px;
	 }
}


@media (min-width : 768px) and (max-width : 1024px) {
	.fullmap-newsslider-block{
		 .news-block-buttons{
		 	.switcher-block-fullmap{
		 		margin-left: 0;
		 	}
		 	h4{
		 		font-size: 15px;
		 	}
	 	}
	}
}



