

.itemrow{
	padding: 0 15px;
}

.itembig-imageblock{
	height: 600px;
	
	margin-top: 30px;
	display: flex;
	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: black;
		top: 0;
		left: 0;
		opacity: 0.3;
	}
	
}
div{
	z-index:2;
	.itemimage-par1{
	
	  font-family: Roboto;
	  font-size: 11px;
	  letter-spacing: 1px;
	  text-align: left;
	  color: #e5e5e6;
	  text-transform: uppercase;
	  margin-right: 20px;

	  a{
	  	font-family: Roboto;
		font-size: 11px;
		letter-spacing: 1px;
		text-align: left;
		color: #e5e5e6;
	  }
}

}

.itemimage-par2{
	margin: 40px 0 30px;
	font-family: Roboto;
  	font-size: 36px;
  	font-weight: 900;
  	line-height: 1.44;
  	letter-spacing: -0.9px;
  	text-align: center;
  	color: #ffffff;
  	z-index: 3;
}

.itemimage-par3{
	z-index:4;
	span{
		font-family: Roboto;
		font-size: 11px;
		letter-spacing: 1px;
		text-align: left;
		color: #e5e5e6;

		margin-right: 45px;
	}

	.itemimage-par3-icon2{
		position: relative;
		&:before{
			content: url(img/add-svg-png/message-bubble.png);
			position: absolute;
			left: -22px;
			bottom: -3px;

		}
	}
	.itemimage-par3-icon1{
		z-index: 5;
		position: relative;
		&:before{
			content: url(img/eye.png);
			position: absolute;
			left: -22px;
			bottom: -5px;
			opacity: 0.25;

		}
	}
}

.item-send-comment{
	margin-top: 25px;
	margin-bottom: 20px;
}

#item-textarea{
	border-radius: 0;
}

.itemrow-mainBanr{
	margin-bottom: 23px;
}

.item-breadCrumbs{
	margin-bottom:  21px;
}

.item-article{
	max-width: 616px;
	overflow: hidden;
	img{
		max-width: 616px;
	}
	blockquote{
		border-left: 3px solid #315efb;
		margin: 40px 0 40px 20px;
	}
	span{
		max-width: 616px;
		max-height: 400px;
	}	
}


.item-nocomments{
	margin-top: 25px;
}

.article-banner-ftName{
	font-family: Roboto;
  	font-size: 11px;
	letter-spacing: 1px;
	text-align: left;
	color: #e5e5e6;
}

.artcl-lilbolt{
	font-family: Roboto;
	font-size: 17px;
	line-height: 1.53;
	text-align: left;
  	color: #000000;
}

.artcl-Bolt{
	font-family: Roboto;
  	font-size: 24px;
  	font-weight: 900;
  	line-height: 1.25;
  	letter-spacing: -0.6px;
  	text-align: left;
  	color: #262626;
}

.article-banner{
	margin: 40px 0 23px;
}

.article-h3{
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	color: #000000;

	margin: 26px 0;
}

.articl-pargr{
	font-family: Roboto;
  	font-size: 17px;
  	font-weight: 300;
  	line-height: 1.53;
  	text-align: left;
  	color: #000000;
}

.article-quote1{
	display: block;
	margin: 29px 0 34px;
	width: 100%;
	padding-left: 73px;
	position: relative;
	&:before{
		content: url(img/right-quotes-symbol.png);
		position: absolute;
		left: 30px;
	}
}

.quote-mark{
	display:inline-block;
	float:left;
	height: 100%;
	width: 10%;

}


.quote-text{
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	color: #000000;
}

.quote-author{
	font-family: Roboto;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: left;
	color: #e5e5e6;
	margin-top: 7px;
	margin-bottom: 29px;
}



.article-quote2{
	width:100%;
	margin: 42px 0;

}



.quote2-block{
	display:inline-block;
	margin-left: 40px;
	padding-left: 20px;
	border-left: 3px solid #315efb;
}


.artcl-slider2{
	
	background: blue;
	margin: 20px 0;
}

// .slider2-btn{
// 	height: 150px;
// 	width: 54px;
// 	background: #000;
// 	opacity: 0.7;
// 	float: right;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;



// 	span{
// 		font-family: Roboto;
// 		  font-size: 12px;
// 		  line-height: 1.5;
// 		  text-align: center;
// 		  color: #ffffff;
// 		  opacity: 1;
// 	}
// }

.artcl-quote3{
	padding: 30px 100px 30px 80px;

	.quote3-main{
		font-family: Roboto;
	  	font-size: 17px;
	  	line-height: 1.53;
	  	text-align: left;
	  	color: #262626;
	}
	.quote3-text{
		font-family: Roboto;
	  	font-size: 17px;
	  	line-height: 1.53;
	  	text-align: left;
		color: rgba(38, 38, 38, 0.6);
	}
	
}

.item-sendbtn{
	margin-top:25px;
}

.item-readmoreHead{
	padding-bottom: 22px;
	border-bottom:  solid 1px #e7e7e7;
	margin: 28px 0 18px;

	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	color: #262626;
}

.item-readmore{
	font-family: Roboto;
  	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;
	color: #262626;

	padding-left: 7px;
	margin: 5px 0;

	&:hover{
		color: #315efb;
	}
}

.item-cards-block{
	margin-top: 35px;
}

.item-sndCard300x335{
	margin: 31px 0 41px;
	display: inline-block;
}


.item-bstHead{
	font-family: Roboto;
  	font-size: 18px;
  	font-weight: 500;
  	color: #262626;
  	border-bottom: solid 1px #e7e7e7;

  	padding-bottom: 22px;
}


.item-bstWkBlock{
	display: inline-block;
	width: 300px;
	height: 70px;
	margin-top: 19px;

	&:hover{
		.item-bstWk-par{
			color: #315efb;
		}
	}
}

.item-bstWk-img{
	display:inline-block;
	float: left;
	margin-right: 10px;
	width:100px;
	height: 70px;
	display: flex;
	img{
		max-width:100px;
		max-height: 70px;
		margin: 0 auto;
	}
	
	
}

.item-bstWk-descr{
	display: inline-block;
	float: left;
}

.item-bstWk-par{
	font-family: Roboto;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 1.29;
  	color: #262626;

  	display: inline-block;
  	max-height: 54px;
  	max-width: 170px;
  	overflow: hidden;
}

.item-bstWk-eye{
	opacity: 0.1;
}

.item-thirdbanner{
	margin-top: 25px;
}

.item-lastBtnBlk{
	margin-bottom: 29px;
	display: flex;
	justify-content: center;
}

.item-countviews{
	font-family: Roboto;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: left;
	color: #e5e5e6;
}


.itembig-imageblock{
	background-repeat: no-repeat; 
	background-size: 100%;
}


@media (min-width : 320px) and (max-width : 767px){
	.itembig-imageblock{
		// background-size: auto;
		// background-position: 50%;
		background-size: cover;
	}
	.itemimage-par3{
		padding-left: 50px;
	}

	.item-phone_socblock{
		// .restCard1{
		// 	display: none;
		// }
	}

	.item-readmore-block{
		margin-bottom: 20px;
	}

	.item-phone-card-delete{
		display: none;
	}

	.item-slider-bestofweek{
		margin-top: 20px;
	}

	.item-bestofweak{
		.newsFirstDiv{
			padding-left: 30px;
    		padding-right: 30px;
		}
	}

	.item-bestofweak{
		#myCarousel1{
			display: none;
		}
	}
	.item-thirdbanner{
		display: none;
	}
	div{
		.itemimage-par1{
		margin-right: 0;
	}
	}
	.item-bstWeek{
		display: none;
	}
}

@media (min-width : 768px) and (max-width : 1024px){
	.itembig-imageblock{
		background-size: cover;
	}
	.item-article{
		overflow: hidden;
	}
	.item-slider-bestofweek{
		display: none;
	}
	.item-bstWk-par{
		max-width: 130px;
	}
	.item-bstWk-img{
		margin-right: 2px;
	}
	.item-bstWk-descr{
		overflow: hidden;
	}
	.item-bstWkBlock{
		width: 240px;
	}
}

@media only screen and (min-device-width : 1024px) {
	.item-slider-bestofweek{
		display: none;
	}
}
