
.item-cont{
	padding: 75px 15px 0;
}

.item-time{
	
margin-bottom: 10px;

  font-family: Roboto;
  font-size: 11px;
  letter-spacing: 1px;
  text-align: left;
  color: #e5e5e6;
}

.item-big-parag{
	
	position:relative;
	color:#f0f0f0;
	font-family: Roboto;
  	font-size: 102px;
  	font-weight: 900;
  	letter-spacing: -2.5px;
  	color: #e3e3e3;
  	padding: 15px;

	&:after{
		content: "популярное";
		width: 130px;
		height: 33px;
		
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
			
		font-family: Roboto;
		font-size: 30px;
		font-weight: 900;
		text-align: center;
		color: #000000;

}
}