

.change-search-param{
	    font-family: Roboto;
    font-size: 14px;
    color: #262626;

    
    &:hover{
    	color: #315efb;
    	border-bottom: dashed 1px #315efb;
    }
}

.rescard-key{
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 10;
}


.rst-param-block{
	margin: 35px 0 36px;
}

.search-btn-blue
{
	display: inline-block;
	margin-left: 20px;
	padding: 14px 42px;

	&:focus{
		border: solid 1px #649dff;
		padding: 13px 41px;
	}
	&:hover{
		background-color: #234ae4;
	}
	&:active{
		background-color: #1039d6;
	}

	&.noactive
	{
		background-color: #f0f0f0;
		color: #262626;
	}
}

.results-number-block{
	border-bottom: 1px solid #dfe4ec;
	padding: 30px 0 15px;
}





.result-rest-card{
	
	border: 1px solid #dfe4ec;
	height: 435px;
	
	.result-card-blimg{
		width: 100%;
		height: 286px;
		position: relative;
		img{
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			width: 100%;
			margin: auto;
			max-width: 281px;
		}
	}
	
}

.result-card-time{
	opacity: 0.6;
  	font-family: Roboto;
  	font-size: 12px;
  	line-height: 1.75;
  	letter-spacing: 0.1px;
  	color: #000000;
  	margin-top: 0;
}

.results-map-block{
	margin-bottom: 27px;

}




.result-rest-name{
	font-family: Roboto;
 	font-size: 26px;
  	font-weight: 900;
  	letter-spacing: -0.6px;
  	color: #000000;
	margin: 8px 18px 0 18px;
	max-height: 110px;
	overflow: hidden;
}
.result-card-img{
	width: 100%;
}

.result-card{
	margin-top: 26px;
	
	.result-card-shadow{
		position: relative;
	}
	
	.result-card-shadow:after{
		    content: ' ';
			background-color: #000;
			
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			-webkit-transition: opacity 0.3s;
			-moz-transition: opacity 0.3s;
			-o-transition: opacity 0.3s;
			-ms-transition: opacity 0.3s;
			transition: opacity 0.3s;
			
			z-index: 999;
			height: 100%;
			width: 100%;

	}

	&:hover{
		.result-card-shadow:after{
			opacity: 0.3;
		}
		.result-card-name{
			color:#315efb;
		}
	}
}


.result-card-name{
	font-family: Roboto;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: -0.6px;
  color: #000000;

  margin-bottom: 20px;
}

.advance_param_search
{
	display: none;
}

.search-param-blockss{
	margin-bottom: 20px;
}

.search-map
{
	width: 100%;
	height: 435px;
	
	background-color: #eee;
}

@media (min-width : 320px) and (max-width : 767px) {
	.result-rest-card{
		width: 300px;
    	margin: 0 auto;
	}
}

