
.newsFirstDiv{
	border: solid 1px #e5e5e6;
	padding: 0 20px;
	margin-top: 20px;
	position: relative;
	//min-height: 850px;


	h4{
		margin: 20px 0;

		font-family: Roboto;
		font-size: 18px;
		font-weight: 600;
		color: #262626;
	}
	figcaption{
		font-family: Roboto;
		font-size: 14px;
		font-weight: 600;
		
		color: #262626;
		margin: 7px 0;
	}
	.newsMargin{
		display: inline-block;
		margin-top: 36px;
	}

}


#front-page-slider
{
	.main-slider-controlers
	{
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;

		margin-top: 6%;
	}
}

.main_slider
{
	.main-slider-controlers
	{
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	
	span.arrow_shadow
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		width: 85px;
		height: 280px;

		background: rgba(15, 14, 14, 0.7);
	}
}

.indcar-capt1{

	a{
			font-family: Roboto;
		  	font-size: 36px;
		  	font-weight: 900;
		  	line-height: 1.44;
		  	letter-spacing: -0.9px;
		  	text-align: center;
		  	color: #ffffff;
		  	span{
  				border-bottom: 10px solid #315efb;
  			}
	}

	p{

			font-family: Roboto;
		  	font-size: 36px;
		  	font-weight: 900;
		  	line-height: 1.44;
		  	letter-spacing: -0.9px;
		  	text-align: center;
		  	color: #ffffff;
  	span{
	height: 240px;
  		border-bottom: 10px solid #315efb;
  	}
	}
}

.indcar-capt1{
	top: 30%;
}


.ind-slide1-item{
	width: 100%;
	height: 456px;
	position: relative;
}

.ind-slide-img{
	max-height: 456px;
	margin: 0 auto;

	position: absolute;
    
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
	
}

#myCarousel3{
	.ind-slide3-item{
	
	height: 240px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 100%;
	
		.ind-slide-three-img{
			max-height: 240px;
			margin: 0 auto;

			position: absolute;
		    
		    left: 50%;
		    transform: translateY(-50%);
		    transform: translateX(-50%);
		}

	}
}



.indcar-capt3{
	width: 440px;
	height: 195px;
	text-align: left;
	left: 30%;
}

.indcar-capt3-logo{
	display: inline-block;
	float: left;
	margin-right: 20px;
	max-width: 100px;
	max-height: 150px;
}

.ind-slide3-descr{
	display: inline-block;
	max-width: 320px;
	height: 150px;
	float: left;

	.ind-slide3-par1{

		font-family: Roboto;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.17;
		color: #ffffff;


	}

	.ind-slide3-par2{
		font-family: Roboto;
		font-size: 13px;
		line-height: 1.54;
		letter-spacing: 0.2px;
		text-align: left;
		color: #ffffff;
		height: 100px;

		margin: 10px 0;
		overflow: hidden;
	}

}

.ind-slide3-btn{
	display: none;
	text-transform: uppercase;
	font-family: Roboto;
  	font-size: 12px;
  	font-weight: 500;
  	letter-spacing: 0.8px;
  	color: #ffffff;

	padding: 7px 16px;
	
	&:focus{	
			}
	&:hover{
	background-color: #eeeeee;
	padding: 9px 18px;
	}
	&:active{
	background-color: #d2d2d2;
	padding: 9px 18px;
	}
}

.ind-slide3-sw{
	width: 60px;
	height: 50%;
	margin-top: 7%;
	background-color: rgba(15, 14, 14, 0.7);
	z-index:10;
}


.slide3-arrow-left{
	position: relative;

	img{
		position: absolute;
		left: 0;
		top: 0;
	}

	&:before{
		content:'';
	}
}

.slide3-arrow-right{
	position: relative;

	img{
		position: absolute;
		right:-5px;
		top: 0;
	}
		&:before{
		content:'';
	}
}

.main-slider-controlers{
	width: 85px;
	height: 280px;
	background-color: rgba(15, 14, 14, 0.7);
	margin-top: 13%;
	z-index: 10;
}



.slider-arrow-left:before{
	content: url(./img/add-svg-png/left-arrow@2x.png);
}

.slider-arrow-right:before{
	content: url(./img/add-svg-png/right-arrow@2x.png);
}

.index-car{
	position: relative;
}


.news-block-buttons{
		
	.more-news-switchrs{
		position: relative;
		display:inline-block;
		height: 35px;
		width: 35px;
		border: solid 1px #444444;
		opacity: .3;
		float: right;
		background-image: none;
		
		img{
			position: absolute;
			top: 8px;
			left: 9px;
		}
		&:hover{
			opacity: 1;
		}

		&:before{
			content: '';
		}
	}
}


#myCarousel3{
	background-color: #f0f0f0;
}


.slider2-img{
	height: 160px;
	max-width: 250px;
	margin: 0 auto;
}


.moreNewsblocks{
	height: 210px;
	overflow: hidden;
}



.moreNewsblocks:hover{
	.slider_news_img_block{
		position: relative;
		div{
			&:before{
				content: '';
				display: inline-block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #000;
				opacity: 0.4;
			}
		}
	}
	figcaption{
		color:#315efb;
	}
	
}

.news-block-buttons{

	width: 100%;
	display: block;
	height: 57px;
	bottom: 25px;
}
.categoryImagesNews{

	margin: 0 auto;
}



.bestofweek-switchblock{
	
	.more-news-switchrs{
		position: relative;
		display:inline-block;
		height: 35px;
		width: 35px;
		border: solid 1px #444444;
		opacity: .3;
		float: right;
		background-image: none;
		
		img{
			position: absolute;
			top: 8px;
			left: 9px;
		}
		&:hover{
			opacity: 1;
		}

		&:before{
			content: '';
		}
	}
}


.best-for-week-par{
font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
  display:inline-block;
  float: left;
  margin-right: 10px;
  
}

.best-for-week-arr{
	display:inline-block;
}


 
.artsld-arrows{
	background: black;
	opacity: 0.5;
	width: 40px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
	margin-top: 150px;
	
	.glyphicon-chevron-left{
		&:before{
			content: url(./img/back.png);
		}
	
	}
	.glyphicon-chevron-right{ 
		&:before{
			content: url(./img/next.png);
		}
	}
}




#myCarousel-item{
    width: 100%;
	height: 400px;

}

.slider-background{
	width: 100%;
	height: 398px;
	//background-size: cover;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}


.gallery2-blocks{
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

.carousel-wrap-btn{
	position: relative;
	margin: 20px 0;

	.owl-item{
		width: 150px !important;
	}
	.slider2-btn{
	
		height: 150px;
		width: 54px;
		background: rgba(0, 0, 0, 0.5);

		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 10;

		&:hover{
			opacity: 0.7;
			span{
				opacity: 1;
			}
		}

		span{
			font-family: Roboto;
			font-size: 12px;
			line-height: 1.5;
			text-align: center;
			color: rgba(255, 255, 255, 1);
			
		}
	
	}

}

.carousel_gastro_life
{
	margin: 0;

	.news-block-buttons
	{
		display: flex;
		width: 100%;

		padding: 10px 0;

		h4
		{
			display: inline-block;

			margin: auto;
		}

		div
		{
			display: inline-block;

			margin: 0;
			margin-left: 23px;
		}
	}

	.carousel-inner
	{
		.item
		{
			figure:first-child
			{
				margin-bottom: 10px;
			}
		}
	}

	figure
	{
		margin: 0;
	}
}
.ind-secondslider{
	padding: 0 30px;
	margin-bottom: 25px;
}

.bestofweek-switchblock{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width : 320px) and (max-width : 767px) {
	
	.newsFirstDiv{
		max-width: 300px;
		margin: 0 auto;
	}
	

	#front-page-slider{
	.main-slider-controlers{
		margin-top: 150px;
	}
}

	.main-slider-controlers{
		width: 45px;
    	height: 144px;
    	margin-top: 40%;

    	.slider-arrow-right{
    		&:before{
    			content: url(./img/right-arrow-phone.png);
    		}
    	}
    	.slider-arrow-left{
    		&:before{
    			content: url(./img/left-arrow-phone.png);
    		}
    	}
	}


	.ind-secondslider{
		padding: 0;
		.indcar-capt3{
			left: 20%;
			width: 80%;
		}
		.ind-slide3-sw{
			width: 48px;
		    height: 50%;
		    margin-top: 16%;
		}

		.ind-slide3-descr{
			max-width: 210px;
   			height: 170px;
		}
	}

}

