
@font-face {
  font-family: 'SFUIText-HeavyItalic';
  src: url('SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-HeavyItalic.woff') format('woff'), 
  url('SFUIText-HeavyItalic.ttf')  format('truetype'), 
  url('SFUIText-HeavyItalic.svg#SFUIText-HeavyItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
