
@font-face {
  font-family: 'SFUIText-Light';
  src: url('SFUIText-Light.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-Light.woff') format('woff'), 
  url('SFUIText-Light.ttf')  format('truetype'), 
  url('SFUIText-Light.svg#SFUIText-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
