
@font-face {
  font-family: 'SFUIText-BoldItalic';
  src: url('SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),  
  url('SFUIText-BoldItalic.woff') format('woff'), 
  url('SFUIText-BoldItalic.ttf')  format('truetype'), 
  url('SFUIText-BoldItalic.svg#SFUIText-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
